In [ ]:
#importar o pandas
#criar um data frame
# ver as 5 primeiras linhas
# ver as colunas

#criar 3 kpi's
#exemplos: somar... ou filtrar ... ou agrupar

In [2]:
import pandas as pd

#pd = pandas
#df = data frame
df = pd.read_csv('Salaries.csv')


display(df)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
print(df.head(5))

print()


for i in df.columns:
    print(i)

   Id       EmployeeName                                        JobTitle  \
0   1     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1   2       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2   3     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3   4  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4   5    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
0  167411.18         0.00  400184.25       NaN  567595.43         567595.43
1  155966.02    245131.88  137811.38       NaN  538909.28         538909.28
2  212739.13    106088.18   16452.60       NaN  335279.91         335279.91
3   77916.00     56120.71  198306.90       NaN  332343.61         332343.61
4  134401.60      9737.00  182234.59       NaN  326373.19         326373.19

   Year  Notes         Agency  Status
0  2011    NaN  San Francisco     NaN
1  2011    NaN  San Francisco     NaN
2  2011    NaN  San Francisco     NaN
3  2011    NaN  San Francisco     NaN
4  2011    NaN  San Francisco     NaN

Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

In [4]:
for colunas in df.columns:
    print(colunas)

Id
EmployeeName
JobTitle
BasePay
OvertimePay
OtherPay
Benefits
TotalPay
TotalPayBenefits
Year
Notes
Agency
Status

In [7]:
#1 gasto total por cargo
#2 total de gasto por ano
#3 cargo com maior salário

totalCargo = df.groupby('JobTitle')['TotalPay'].sum()
display(totalCargo)

print('\n...........................................')

totalAno = df.groupby('Year')['TotalPay'].sum()

ano= df.groupby('Year') ["Year"].sum()


print(totalAno)

JobTitle
ACCOUNT CLERK                                     3654960.14
ACCOUNTANT                                         237146.34
ACCOUNTANT INTERN                                 1393523.66
ACPO,JuvP, Juv Prob (SFERS)                         62290.78
ACUPUNCTURIST                                       67594.40
                                                     ...
X-RAY LABORATORY AIDE                             1370352.89
X-Ray Laboratory Aide                             5082394.27
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      53632.87
Youth Comm Advisor                                 165657.23
ZOO CURATOR                                         66686.56
Name: TotalPay, Length: 2159, dtype: float64

...........................................
Year
2011    2.594195e+09
2012    2.724848e+09
2013    2.918656e+09
2014    2.876911e+09
Name: TotalPay, dtype: float64